# Node.js dependencies
node_modules/

# Expo specific files
.expo/

# Environment variables
.env

# Logs
*.log

# Operating system files
Thumbs.db  # Windows specific

# IDE or editor files
.idea/
.vscode/

#GitGuardian
.cache_ggshield*

